<section
  class="bg-[#EFF3F7] dark:bg-dark_primary_bg pt-17 lg:pt-[100px] pb-10 lg:pb-20 dark:border-t dark:border-b dark:border-[#181a1d]"
  id="{{port_slug | slugify}}">
  <div class="container mx-auto">
    <div
      class="flex justify-between items-center gap-[20px] lg:gap-8 mb-13 flex-wrap lg:flex-nowrap text-center lg:text-left">
      <div class="max-w-full lg:max-w-[580px] w-full">
        <span class="text-accent1 text-xl lg:text-2xl font-medium mb-2.5 lg:mb-1.5">{{portfolio_heading}}</span>
        <h2
          class="text:[28px] lg:text-[48px] font-bold font-heebo leading-[36px] lg:leading-[58px] text-[#000248] dark:text-white">
          {{portfolio_title}}
        </h2>
      </div>
      <div class="md:grow lg:grow-0">
        {{ partial:typography/prose as="article" class="text-[#636363] dark:text-slate-200 text-17 leading-[28px]
        lg:max-w-[472px] w-full" }}
        {{ portfolio_description }}
        {{ /partial:typography/prose }}
      </div>
    </div>
    <div class="isotope--filter" x-data="{ 'showModal': null }" @keydown.escape="showModal = false">
      <div class="button-group filters-button-group flex justify-center flex-wrap gap-8"
        x-data="{categoryTab : '{{select_category:0:slug}}'  }">
        {{select_category}}
        <button @click="categoryTab = '{{slug}}'"
          class="button text-primary dark:text-white text-lg capitalize font-medium hover:text-accent1 dark:hover:text-accent1 transition duration-300"
          :class="{ 'is-checked': categoryTab === '{{slug}}' }" data-filter="*">{{title}}</button>
        {{/select_category}}

        {{select_category}}
        {{ categorySlug = {slug} }}
        <div class="portfolio__grid flex mt-12.5 -mx-3.9 flex-wrap" x-show="categoryTab === '{{categorySlug}}' "
          x-transition:enter.duration.500ms>
          {{collection:portfolio as="posts" sort="date:desc" taxonomy:category='{categorySlug}'}}
          {{posts}}
          <div class="element-item mb-7.5 w-[50%] lg:w-[33.33%]  px-4 web portfolio__parent">
            <div class="relative overflow-hidden">
              <a href="javascript:void(0)" class="popup-modal--open" @click="showModal = '{{index}}'">
                <span
                  class="absolute w-full h-full bg-accent1 left-0 top-0 opacity-0 transition duration-300 portfolio__overlay z-10">
                  <div class="flex items-center justify-end flex-col text-center h-full text-white p-5">
                    <span
                      class="portfolio--zoom flex items-center grow transition-all duration-300 translate-y-[-20px]">
                      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-maximize">
                        <path
                          d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3">
                        </path>
                      </svg>
                    </span>
                    <h3
                      class="portfolio--title text-lg lg:text-2xl font-heebo transition-all duration-300 translate-y-3">
                      {{title}}</h3>
                    <span
                      class="portfolio--sub-title text-17 2xs:hidden transition-all duration-500 translate-y-3">{{port_short_description}}</span>
                  </div>
                </span>
                <div class="w-full portfolio__image--card">
                  {{ partial:components/picture_size :image="port_image" class="w-full transition duration-300" lazy="true"}}
                </div>
              </a>
              <div class="modal_portfolio fixed h-screen w-full left-0 top-0 z-[999999] opacity-0 invisible active"
                x-show="showModal === '{{index}}'" x-cloak="">
                <div class="modal_popup_overlay fixed w-full h-full bg-black left-0 top-0 opacity-[0.3]"></div>
                <div
                  class="modal__portfolio--content relative z-10 h-full flex items-center px-4 max-w-[750px] xl:max-w-[800px] mx-auto transition duration-300 translate-y-[-50px]">
                  <div
                    class="overflow-y-auto modal__portfolio--content-inner bg-white dark:bg-gray-800  max-h-[60vh] lg:max-h-[80vh] p-8 rounded-2xl relative"
                    @click.away="showModal = false">
                    <button
                      class="modal__popup--close ltr:right-[10px] rtl:left-[10px] top-2.5 absolute w-[50px] h-[50px] bg-accent1 hover:bg-primary dark:hover:bg-[#181a1d] text-white rounded-full flex items-center justify-center"
                      @click="showModal = false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                      </svg>
                    </button>
                    <h2 class="text-accent1 text-center font-bold lg:text-4xl md:text-3xl">
                      {{title}}
                    </h2>
                    <div class="grid grid-cols-1 lg:grid-cols-2 my-6">
                      {{port_details}}
                      <div class="space-y-2">
                        <p class="dark:text-white flex items-center">
                          <span class="mr-2">
                            {{ if index == 0}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-file-text">
                              <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                              <polyline points="14 2 14 8 20 8"></polyline>
                              <line x1="16" y1="13" x2="8" y2="13"></line>
                              <line x1="16" y1="17" x2="8" y2="17"></line>
                              <polyline points="10 9 9 9 8 9"></polyline>
                            </svg>
                            {{ elseif index == 1}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-user">
                              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                              <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            {{ elseif index == 2}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-code">
                              <polyline points="16 18 22 12 16 6"></polyline>
                              <polyline points="8 6 2 12 8 18"></polyline>
                            </svg>
                            {{ elseif index == 3}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-external-link">
                              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
                              <polyline points="15 3 21 3 21 9"></polyline>
                              <line x1="10" y1="14" x2="21" y2="3"></line>
                            </svg>
                            {{/if}}
                          </span>
                          {{port_title}} :&nbsp;
                          {{ if index == 3 }}
                          <span class="font-medium transition-all duration-300 ease-in-out hover:text-accent1">
                            <a href="{{port_link}}" target="_blank" rel="noopener noreferrer">{{port_subtitle}}</a>
                          </span>
                          {{ else }}
                          <span class="font-medium"> {{port_subtitle}}</span>
                          {{ /if }}
                        </p>
                      </div>
                      {{/port_details}}
                    </div>
                    {{ partial:typography/prose as="article" class="dark:text-white font-normal text-17" }}
                    {{port_content}}
                    {{ /partial:typography/prose }}
                    <div class="pr-3">
                      {{ partial:components/picture_size :image="port_image" class="max-w-full h-auto rounded-xl mt-6 mx-auto" cover="true" lazy="true"}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/posts}}
          {{/collection:portfolio}}
        </div>
        {{/select_category}}
      </div>
    </div>
</section>